@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,800;1,200&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Poppins', sans-serif;
    
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 15px;
}
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/planetf11.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo{
    color: #fffdfc;
    font-size: 45px;
    font-weight: 800;
    align-items: center;
    
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 800;
}

.navbar ul li a:hover{
    color: #ce9678;
}
#menu{
    display: none;

}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
   
}

.header-conter{
    align-items: center;
    text-align: center;
}

.header-conter  h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.header-conter  p{
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #f9fafc;
    text-transform: uppercase;
    border-radius: 20px;
}
.btn-1:hover{
    background-color: #ebad8d;
}

.fondo{


}
.fondo-img{
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

.RedStone{
    padding: 100px 0;
    background-color: #e1e2e6;
    position: relative;

}
.RedStone-content{
    text-align: center;
}
.RedStone-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}


.txt-p{
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}
.RedStone-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.RedStone-1{
    padding: 0 25px;
}
.RedStone-1 img{
    width: 250px;
}
.RedStone-img{
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}
.RedStone-1 h3{
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.Tipos-Redes{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(/img/cup-of-coffee-1280537_1280.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px 0;
}
.Tipos-Redes-content{
    align-items: center;
    text-align: center;
}
.Tipos-Redes-content h2{
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.Tipos-Redes-content p{
    font: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;

}
.Tipos-Redes-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    align-items: center;
}
.Tipos-Redes-1{
    padding: 0 80px;
    align-items: center;
    text-align: center;
}
.Tipos-Redes-1 img{
    width: 250px;
    margin-bottom: 18px;
}
.Tipos-Redes-1 h3{
    color: #eaccb3;
    font-size: 18px;
}

.General{
    display: flex;
}
.General-1{
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}
.General-2{
    background-image: url(/img/floral-decorations.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.General-3{
    background-image: url(/img/forrest-1846892_1280.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2{
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}
p{
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}
.Blog{
    padding: 100px 0;
    text-align: center;
}
.blog-content{
    display: flex;
justify-content: space-between;
}
.Blog-1{
    padding: 15px 55px;
}
.Blog-1 img{
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;

}
.Blog-1 h3{
    font-size: 25px;
    color: #323337;
}
.footer{
    padding: 100px 0;
    background-color: #000000;

}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #e1e2e6;
    margin-bottom: 15px;
}
.link a {
    font-size: 16px;
    color: #c5c5c5;
    display: block;
    margin-bottom: 15px;
}
.desktop{
    text-align:  center;
    z-index: 1;
}
@media(max-width:650px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }
    
    #menu:checked ~  .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;

    }
    .header-conter{
        padding: 100px 36px;

    }
    .header-conter p{
        padding: 0;
    }

    .RedStone{
        padding: 30PX;
    }
    .RedStone-content h2{
        padding: 0;
    }
    .txt-p{
        padding: 0;
    }
    .RedStone-group{
        flex-direction: column;
        margin-bottom: 0;
    }
    .RedStone-img{
        display: none;
    }

    .Tipos-Redes{
        padding: 30px;
    }
    .Tipos-Redes-content p{
        padding: 0;
    }
    .Tipos-Redes-group{
        margin-bottom: 0px;
        flex-direction: column;
    }
    .Tipos-Redes-1{
        margin-bottom: 25px;
    }

    .General{
        flex-direction: column;

    }
    .General-1{
        width: 100%;
        padding: 30px;
        text-align: center;
    }
    .General-2 .General-3{
        display: none;
    }
    .Blog{
        padding: 30px;

    }

    .blog-content{
        flex-direction: column;
    }

    .Blog-1{
        padding: 0;
    }

    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }

}
